.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    margin-bottom: 9%;

}

body{
    background-color: hsl(0, 0%, 95%);
    font-size:          15px;
}

p{
    color:           hsla(0, 0%, 100%, 0.75);
    font-weight:       400;
    max-width:         200px;
    margin-left:       60px;
    margin-right:      60px;
    margin-bottom:     50px;
    font-family: 'Lexend Deca', sans-serif;

}

h2{
    color:          hsl(0, 0%, 95%);
    max-width:        200px;
    margin-left:      60px;
    margin-top:       50px;
    margin-right:     60px;
    font-weight:      700;
    font-family:      'Big Shoulders Display', cursive;
}

.sedans{
    background-color:        hsl(31, 77%, 52%);
    border-top-left-radius:    20px;
    border-bottom-left-radius: 20px;
    height: 400px;
    
}
.suvs{
    background-color: hsl(184, 100%, 22%);    
    border-bottom:      20px;
    border-top:         20px;
    height: 400px;

}
.luxury{
    background-color:          hsl(179, 100%, 13%);
    border-top-right-radius:     20px;
    border-bottom-right-radius:  20px;
    height: 400px;

}
button{
    width: 150px;
    height: 50px;
    margin-left: 60px;
    border-radius: 30px;

    background-color: hsl(0, 0%, 95%);
    border: unset;

    font-family: 'Lexend Deca', sans-serif;
}
.btn-suvs{
    margin-left:     20px;
    margin-bottom:   10px;
}
.btn-luxury{
    margin-left:     20px;
    margin-bottom:   10px;
}.btn-sedans{ 
    margin-left:     20px;
    margin-bottom:   10px;
}
/*hover*/
.btn-suvs:hover{
    border:         3px, solid,hsla(0, 0%, 100%, 0.75);
    color:                     hsla(0, 0%, 100%, 0.75) ;
    background-color:          hsl(184, 100%, 22%);
}
.btn-sedans:hover{
    border:         3px, solid,hsla(0, 0%, 100%, 0.75);
    color:                     hsla(0, 0%, 100%, 0.75) ;
    background-color:          hsl(31, 77%, 52%);
}.btn-luxury:hover{
    border:         3px, solid,hsla(0, 0%, 100%, 0.75);
    color:                     hsla(0, 0%, 100%, 0.75) ;
    background-color:          hsl(179, 100%, 13%);
}

/* thats how we make css for difrent devices*/
@media screen and (max-width:810px) {


    .main-box{
        display: flex;
        flex-direction: column;
    }

    .box{
        margin-top: 50px;
        width: 350px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;

    }

    .sedans{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .suvs{
        margin-top: -50px;
    }

    .luxury{
        margin-top: -50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;

    }
}
