button{
    width: 150px;
    height: 50px;
    margin: 90px 0 10px 0;
    border-radius: 30px;

    background-color: var(--bg);
    border: solid;
    border-color: var(--bg);

    &:hover { 
        //If you want to call another class or pseudo element inside a selector with scss, you have to use the & symbol.
        border: 3px, solid;
        color: var(--p-t);
    }
}

.btn-sedans {
    color: var(--bg-sedans);

    &:hover{
        background-color: var(--bg-sedans);
    }
}

.btn-suvs {
    color: var(--bg-suvs);
    
    &:hover{
        background-color: var(--bg-suvs);
    }
}

.btn-luxury {
    color: var(--bg-luxury);
    
    &:hover{
        background-color: var(--bg-luxury);
    }
}
