.main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 63%;
    margin: 8% 18.5% ;

    @media screen and (max-width: 640px) {
        flex-direction: column;
    }
}
