.main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 9% 5%;

    @media screen and (max-width: 640px) {
        flex-direction: column;
    }
}
