@use "../util" as*;

.sedans {
    background-color: var(--bg-sedans);
    border-top-left-radius: rem(7);
    border-bottom-left-radius: rem(7);
    height: 62%;
    padding: rem(50);    


    @media screen and (max-width: 640px){
        border-top-right-radius: rem(15);
        border-bottom-left-radius: 0;
    }
}